<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.juhe.demo.mapper.GroupNameMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.juhe.demo.entity.GroupName">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="create_time" property="createTime" />
        <result column="deleteable" property="deleteable" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, create_time, deleteable
    </sql>

</mapper>
